---
layout: post
title: desktop PC
subtitle: fix CPU cooler
date: '2020-11-10T12:55:56+00:00'
tags:
- '2020'
- hardware
- desktop pc
- fix
tumblr_url: https://rdcgomes.tumblr.com/post/634398291077005312/one-of-the-reasons-on-my-pc-build-that-i-went-for
thumbnail-img: /assets/posts/d9820550c5533657f2a395184e317781c9627445.jpg
share-img: /assets/posts/d9820550c5533657f2a395184e317781c9627445.jpg
---
<p>One of the reasons on my PC build that I went for a beQuiet Dark Rock 4 cooler instead of the bigger version
beQuiet Dark Rock 4 Pro, since the price difference is relatively low, is that I was afraid the cooler would be too massive and that I would have issues with the ram slots. Interestingly enough, due to, in my opinion bad design and planning, is actually the opposite. Dark Rock 4, although smaller is the one that will get issues with the ram slots, being that the 140mm fan that comes with it, will cover the first ram slot and only low profile ram slots will fit (pic 1-3 are from Dark Rock 4, pic 4 is a Dark Rock 4 Pro). </p>
{% include image-gallery.html folder="/assets/posts/2020-11-10-desktop-pc-fix-cpu-cooler/01" %}

<p>Since, I want to get 2 more slots of ram, and want to stick with the same exact ram sticks, I only had 2 options, change the way the air flows on the case and invert the cooler, or install the extra brackets with an extra 120mm fan to the cooler. I went by the second option, used a 120 mm Silent Wings 3 fan and added it in the front, moving the 140mm fan to the back, together with the rubber fan stripes to hold it in place and give the required spacing, to aid extracting the air out of the cooler (since i was afraid the 120mm fan would not be enough to compensate the lack of the 140mm one).</p>

{% include image-gallery.html folder="/assets/posts/2020-11-10-desktop-pc-fix-cpu-cooler/02" %}

<p>Problem solved, I can now install the extra ram and at the same time gained a few degrees drop when the CPU is fully loaded, where in the past i would measure around 81-83, i now get 73-76 degrees.</p>
<p>If I was buying the cooler again, I would just choose the Dark Rock 4 Pro or a liquid AIO cooler.<br/></p>

